In [1]:
import numpy as np
import pandas as pd

In [2]:
song = pd.read_csv("ex.csv", encoding='cp1252')

In [3]:
song = song.drop('Song-Name', axis=1)

In [4]:
song.head()

,Singer/Artists,Genre,Album/Movie,User-Rating,Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10

In [5]:
song.shape

(2420, 5)

In [6]:
song.isnull().sum()

Singer/Artists     0
Genre             10
Album/Movie        0
User-Rating        3
Rating             0
dtype: int64

In [7]:
song.dropna(inplace=True)

In [8]:
song.head()

,Singer/Artists,Genre,Album/Movie,User-Rating,Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10

In [9]:
song.isnull().sum()

Singer/Artists    0
Genre             0
Album/Movie       0
User-Rating       0
Rating            0
dtype: int64

In [10]:
song.tail()

,Singer/Artists,Genre,Album/Movie,User-Rating,Rating
2415,Jana Tumhare Pyar Mein,Mukesh,BollywoodDance,Sasural,10-Oct
2416,Tum Jaise Bigde Babu Se,Lata Mangeshkar,BollywoodDance,Jab Pyar Kisi Se Hota Hai,10-Oct
2417,O Yaad Nahi Bhool Gaya,"Lata Mangeshkar, Suresh Wadkar",BollywoodDance,Lamhe,10-Oct
2418,Ladi Re Ladi Tujhse Aankh Jo Ladi,Jagjit Kaur,BollywoodDance,Shola Aur Shabnam,10-Oct
2419,Mummy Aur Daddy Mein Ladai Ho Gayi,Asha Bhosle,BollywoodDance,Shola Aur Shabnam,6.6/10

In [11]:
song = song.reset_index(drop=True)

In [12]:
song.duplicated().sum()

16

In [13]:
song[song.duplicated(keep='first')]

,Singer/Artists,Genre,Album/Movie,User-Rating,Rating
221,Naam Hai Bhaiaji,"Amit Mishra, Raftaar",Bollywood,Bhaiaji Superhit,9.4/10
243,Kudiya Shehar Diyan,"Daler Mehndi, Neha Kakkar",BollywoodDance,Poster Boys,9.0/10
354,Chaar Botal Vodka,Yo Yo Honey Singh,BollywoodDance,Ragini MMS 2,8.8/10
943,Chookar Mere Man Ko,Kishore Kumar,BollywoodRomantic,Yaarana,9.3/10
954,It’s Magic,Taz,BollywoodDance,Koi Mil Gaya,8.8/10
956,Nikamma,Rahat Fateh Ali Khan,Bollywood,3 Dev,9.4/10
974,Rangdaari,"Arko, Navraj Hans",BollywoodSad,Daas Dev,9.4/10
1136,Rani Tu Mein Raja (,"Bhavya Pandit, Mika Singh, Yo Yo Honey Singh",BollywoodDance,Son of Sardaar,8.3/10
1169,Mar Jaawan Mit Jaawan,"Abhijeet Sawant, Sunidhi Chauhan",BollywoodDance,Aashiq Banaya Aapne,9.0/10
1217,Tu Kamaal Di Kudi,"Mamta Sharma, Vineet Singh",BollywoodDance,Son of Sardaar,8.5/10
1387,Jawani Janeman,Asha Bhosle,BollywoodDance,Namak Halaal,9.1/10
1529,Har Dil Jo Pyar Karega,"Lata Mangeshkar, Mahendra Kapoor, Mukesh",BollywoodDance,Sangam,8.7/10
1612,Hairat,Lucky Ali,BollywoodDance,Anjaana Anjaani,9.6/10
1674,Raat Baaqi Baat Baaqi,"Asha Bhosle, Bappi Lahiri, Basavalingaiah Hire...",BollywoodDance,Namak Halaal,9.0/10
1747,Foolishq,"Armaan Malik, Shreya Ghoshal",BollywoodRomantic,Ki & Ka,9.2/10
2114,Woh Chand Jaisi Ladki,Udit Narayan,BollywoodRomantic,Devdas,9.4/10

In [14]:
song = song.drop_duplicates()

In [15]:
song = song.reset_index(drop=True)

In [16]:
song

,Singer/Artists,Genre,Album/Movie,User-Rating,Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10
...,...,...,...,...,...
2386,Jana Tumhare Pyar Mein,Mukesh,BollywoodDance,Sasural,10-Oct
2387,Tum Jaise Bigde Babu Se,Lata Mangeshkar,BollywoodDance,Jab Pyar Kisi Se Hota Hai,10-Oct
2388,O Yaad Nahi Bhool Gaya,"Lata Mangeshkar, Suresh Wadkar",BollywoodDance,Lamhe,10-Oct
2389,Ladi Re Ladi Tujhse Aankh Jo Ladi,Jagjit Kaur,BollywoodDance,Shola Aur Shabnam,10-Oct
2390,Mummy Aur Daddy Mein Ladai Ho Gayi,Asha Bhosle,BollywoodDance,Shola Aur Shabnam,6.6/10

In [17]:
song.duplicated().sum()

0

In [18]:
song.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2391 entries, 0 to 2390
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Singer/Artists  2391 non-null   object
 1   Genre           2391 non-null   object
 2   Album/Movie     2391 non-null   object
 3   User-Rating     2391 non-null   object
 4   Rating          2391 non-null   object
dtypes: object(5)
memory usage: 93.5+ KB

In [19]:
song.rename(columns={'Singer/Artists':'Song', 'Genre':'Artists', 'Album/Movie':'Genre', 'User-Rating':'Movie'}, inplace=True)

In [20]:
song

,Song,Artists,Genre,Movie,Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10
...,...,...,...,...,...
2386,Jana Tumhare Pyar Mein,Mukesh,BollywoodDance,Sasural,10-Oct
2387,Tum Jaise Bigde Babu Se,Lata Mangeshkar,BollywoodDance,Jab Pyar Kisi Se Hota Hai,10-Oct
2388,O Yaad Nahi Bhool Gaya,"Lata Mangeshkar, Suresh Wadkar",BollywoodDance,Lamhe,10-Oct
2389,Ladi Re Ladi Tujhse Aankh Jo Ladi,Jagjit Kaur,BollywoodDance,Shola Aur Shabnam,10-Oct
2390,Mummy Aur Daddy Mein Ladai Ho Gayi,Asha Bhosle,BollywoodDance,Shola Aur Shabnam,6.6/10

In [21]:
song['Artists'] = song['Artists'].apply(lambda x:x.replace(" ", ""))
song['Artists'] = song['Artists'].apply(lambda x:x.replace(",", " "))

In [22]:
song = song.drop('Movie', axis=1)

In [23]:
song.head()

,Song,Artists,Genre,Rating
0,Aankh Marey,KumarSanu MikaSingh NehaKakkar,BollywoodDance,8.8/10
1,Coca Cola,NehaKakkar TonyKakkar,BollywoodDanceRomantic,9.0/10
2,Apna Time Aayega,RanveerSingh,BollywoodDance,9.7/10
3,Mungda,JyoticaTangri Shaan SubhroGanguly,BollywoodDance,9.1/10
4,Tere Bin,AseesKaur RahatFatehAliKhan TanishkBagchi,BollywoodRomantic,9.2/10

In [24]:
song['Rating'] = song['Rating'].apply(lambda x:x.replace('/10', ""))

In [25]:
def convert(obj):
    try:
        obj = float(obj)
        return obj
    except ValueError:
        return None

In [26]:
song['Rating'] = song['Rating'].apply(convert)

In [27]:
song['Rating'].isna().sum()

13

In [28]:
song = song.dropna()

In [29]:
song.isnull().sum()

Song       0
Artists    0
Genre      0
Rating     0
dtype: int64

In [30]:
song['Rating'].dtype

dtype('float64')

In [31]:
song.head()

,Song,Artists,Genre,Rating
0,Aankh Marey,KumarSanu MikaSingh NehaKakkar,BollywoodDance,8.8
1,Coca Cola,NehaKakkar TonyKakkar,BollywoodDanceRomantic,9.0
2,Apna Time Aayega,RanveerSingh,BollywoodDance,9.7
3,Mungda,JyoticaTangri Shaan SubhroGanguly,BollywoodDance,9.1
4,Tere Bin,AseesKaur RahatFatehAliKhan TanishkBagchi,BollywoodRomantic,9.2

In [32]:
song['Artists'] = song['Artists'].apply(lambda x:x.lower())

In [33]:
song.head()

,Song,Artists,Genre,Rating
0,Aankh Marey,kumarsanu mikasingh nehakakkar,BollywoodDance,8.8
1,Coca Cola,nehakakkar tonykakkar,BollywoodDanceRomantic,9.0
2,Apna Time Aayega,ranveersingh,BollywoodDance,9.7
3,Mungda,jyoticatangri shaan subhroganguly,BollywoodDance,9.1
4,Tere Bin,aseeskaur rahatfatehalikhan tanishkbagchi,BollywoodRomantic,9.2

In [34]:
song['Genre'] = song['Genre'].apply(lambda x:x.lower())

In [35]:
song.head()

,Song,Artists,Genre,Rating
0,Aankh Marey,kumarsanu mikasingh nehakakkar,bollywooddance,8.8
1,Coca Cola,nehakakkar tonykakkar,bollywooddanceromantic,9.0
2,Apna Time Aayega,ranveersingh,bollywooddance,9.7
3,Mungda,jyoticatangri shaan subhroganguly,bollywooddance,9.1
4,Tere Bin,aseeskaur rahatfatehalikhan tanishkbagchi,bollywoodromantic,9.2

In [36]:
song['Tags'] = song['Artists'] + " " + song['Genre']

In [37]:
song.head()

,Song,Artists,Genre,Rating,Tags
0,Aankh Marey,kumarsanu mikasingh nehakakkar,bollywooddance,8.8,kumarsanu mikasingh nehakakkar bollywooddance
1,Coca Cola,nehakakkar tonykakkar,bollywooddanceromantic,9.0,nehakakkar tonykakkar bollywooddanceromantic
2,Apna Time Aayega,ranveersingh,bollywooddance,9.7,ranveersingh bollywooddance
3,Mungda,jyoticatangri shaan subhroganguly,bollywooddance,9.1,jyoticatangri shaan subhroganguly bollywooddance
4,Tere Bin,aseeskaur rahatfatehalikhan tanishkbagchi,bollywoodromantic,9.2,aseeskaur rahatfatehalikhan tanishkbagchi boll...

In [38]:
song = song.drop({'Artists', 'Genre'}, axis=1)

In [39]:
song = song.reset_index(drop=True)

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000)

In [41]:
vectors = cv.fit_transform(song['Tags']).toarray()

In [42]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [43]:
cv.get_feature_names_out()

array(['aadesh', 'aakankshasharma', 'aamantrikha', 'aanchalsethi',
       'aaniya', 'aaryandineshkanagaratnam', 'aasthagill', 'abhaydeol',
       'abhayjodhpurkar', 'abhijeet', 'abhijeetsawant', 'abhijitvaghani',
       'abhisheknailwal', 'abhisheknehwal', 'aditipaul',
       'aditisinghsharma', 'aditsinghsharma', 'adityan', 'adityanarayan',
       'adnansami', 'ahmedhussain', 'aishwarya', 'aishwaryabhandari',
       'aishwaryamajmudar', 'aishwaryanigam', 'ajay', 'ajaygogavale',
       'akankshabhandari', 'akasasingh', 'akashojha', 'akhilsachdeva',
       'akhtarchanalzahri', 'akon', 'akritikakar', 'akshatadixit',
       'alamgirkhan', 'alfaaz', 'alishachinai', 'alishachinoy',
       'alizafar', 'alizehashking', 'alkayadnik', 'alkayagik',
       'alkayagnik', 'altamasfaridi', 'altamashfaridi', 'altamashkhan',
       'alyssamendonsa', 'amaalmallik', 'amantrikha', 'amararshi',
       'amimishra', 'amirjamal', 'amit', 'amitabhbachchan',
       'amitabhbhattacharya', 'amitgupta', 'amitkumar', 'amitmishra',
       'amitsana', 'amittrivedi', 'amjadfaridsabri', 'ammyvirk',
       'amritakak', 'amritasingh', 'anand', 'anandkumarc',
       'anandraajanand', 'ananyawadkar', 'anitagandharva', 'anjaan',
       'anjjan', 'ankittiwari', 'anmolmalik', 'antara', 'antaramitra',
       'anugrah', 'anumalik', 'anupamadeshpande', 'anupamamod',
       'anupghoshal', 'anupjalota', 'anuradha', 'anuradhapaudwal',
       'anuradhasriram', 'anushamani', 'anushkamanchanda',
       'anushkashahaney', 'anweshaa', 'anwesshaa', 'aparnaabhaagwat',
       'apekshadandekar', 'arijitsingh', 'arjun', 'arko', 'armaanmalik',
       'arnabdutta', 'aroh', 'arpitamukherjee', 'arshadwarsi', 'arun',
       'arunbakshi', 'aruningle', 'aryaacharya', 'asadbhopali',
       'aseeskaur', 'ashabhosle', 'ashimamahajan', 'ashishpandit',
       'ashking', 'ashwin', 'asittripathy', 'atifaslam', 'atul',
       'atulkale', 'aurielcordo', 'ayub', 'ayushmankhurana',
       'ayushmannkhurrana', 'babbumaan', 'babuhaabi', 'babulsupriyo',
       'babyaparna', 'babysneha', 'badshah', 'balasubrahmanyam',
       'balasubramanyam', 'balibrahambhatt', 'balibrahmbhatt',
       'bandofpower', 'banjyotsna', 'bappilahiri',
       'basavalingaiahhiremath', 'bela', 'belashende', 'belasulakhe',
       'bennydayal', 'bhanupratap', 'bhavyapandit', 'bhoomitrivedi',
       'bhupindersingh', 'biancagomes', 'bilalsaeed', 'blaaze', 'bob',
       'bollywood', 'bollywooddance',
       'bollywooddancemotivationalpatriotic', 'bollywooddancepatriotic',
       'bollywooddanceromantic', 'bollywooddancesad',
       'bollywooddancesensual', 'bollywooddevotional',
       'bollywooddevotionalsad', 'bollywoodmotivational',
       'bollywoodmotivationalpatriotic', 'bollywoodpatriotic',
       'bollywoodpatrioticsad', 'bollywoodromance', 'bollywoodromantic',
       'bollywoodromanticsad', 'bollywoodromanticsadsensual',
       'bollywoodromanticsensual', 'bollywoodsad', 'bollywoodsensual',
       'bombayjayashri', 'bpraak', 'brigitteyaghi', 'brijeshshandaliya',
       'brijeshshandilya', 'burman', 'caralisamonteiro', 'chinmaye',
       'chinmayisripaada', 'chithra', 'chitrasingh', 'chorus',
       'clintoncerejo', 'cruz', 'cruzaiman', 'cucaroseta', 'dabboomalik',
       'dalermehndi', 'danishsabri', 'darshana', 'darshanraval',
       'davidklyton', 'dcerejo', 'debojitsaha', 'deepali', 'deepalisathe',
       'deepmoney', 'devisriprasad', 'devkipandit', 'devnegi',
       'dhvanibhanushali', 'diljitdosanjh', 'dilshad', 'dipanshupandit',
       'dishasharma', 'diva', 'divyakumar', 'dominique', 'dominiquecrezo',
       'earl', 'earld', 'earledgar', 'ehsaannoorani', 'enbee',
       'falakshabir', 'falgunipathak', 'farhanakhtar', 'farhansabri',
       'farhansaeed', 'farhid', 'fateh', 'fazilpuria', 'francismenezes',
       'gandharvsachdev', 'gandhharvsachdeav', 'ganeshchandanshive',
       'gayatriiyer', 'geetadutt', 'geetsagar', 'ghulamali',
       'gippygrewal', 'gopisunder', 'gulrajsingh', 'gulzar', 'gunwantsen',
       'gurdasmaan', 'gurinderseagal', 'gururandhawa', 'hadiqakiani',
       'hamsika', 'hamsikaiyer', 'hansrajhans', 'hardkaur', 'hardysandhu',
       'haricharan', 'hariharan', 'haripriya', 'harrdysandhu',
       'harshdeepkaur', 'harshitchouhan', 'harshitsaxena',
       'hemantbrijwasi', 'hemantkumar', 'hemasardesai', 'hemlata',
       'himanikapoor', 'himeshreshammiya', 'hiralbrahmbhatt',
       'hiteshsonik', 'hrishikeshkamerkar', 'hrithikroshan', 'hussain',
       'ikka', 'ilaarun', 'ilaiyaraaja', 'imrankhan', 'indeepbakshi',
       'inderbawra', 'inderjeet', 'irfan', 'irshadkamil', 'irshanashraf',
       'ishaan', 'ishanmitra', 'ishers', 'ishita', 'ishqbector',
       'ishwari', 'ismaildarbar', 'iuliavantur', 'jaavedjaffrey',
       'jagjitsingh', 'janaki', 'janibaboo', 'jasbirjassi',
       'jasleenroyal', 'jasminesandlas', 'jasminwalia', 'jaspeertsingh',
       'jaspindernarula', 'jaspindernirula', 'jaspreetsingh', 'jassigill',
       'jaswindernarula', 'jatin', 'javedali', 'javedbasheer',
       'javedbashir', 'javedhussain', 'jayeshgandhi', 'jayshreeshivram',
       'jazdhami', 'jazzyb', 'jeetgannguli', 'jigar', 'jigarsaraiya',
       'johnabraham', 'joi', 'joibarua', 'jojomukherjee', 'jolly',
       'jollymukherjee', 'jonitagandhi', 'jordipatel', 'jordypatel',
       'jubinnautiyal', 'juggyd', 'june', 'jyoticatangri', 'jyotinooran',
       'kailashkher', 'kalpana', 'kalpanapatowary', 'kaly', 'kamaalkhan',
       'kamalbarot', 'kamalhaasan', 'kamalkhan', 'kanchan', 'kanikajoshi',
       'kanikakapoor', 'karsansagathia', 'karsansangathia', 'karthik',
       'kaushikichakraborty', 'kavipradeep', 'kavitakrishnamurthy',
       'kavitaseth', 'keeravani', 'keerthisagathia', 'khushboogrewal',
       'khushboojain', 'khushhboogrewal', 'kirtisagathia', 'kishorekumar',
       'kishorigowariker', 'kk', 'krishnabeura', 'krishnabeuraa',
       'kshitijtarey', 'kumarsanu', 'kunal', 'kunalganjawala',
       'kunalpandit', 'labhjanjua', 'lalit', 'latamangeshkar',
       'lehmberhussainpuri', 'lilgolu', 'loymendonsa', 'luckyali',
       'madhuridixit', 'madhushree', 'mahadevan', 'mahalakshmi',
       'mahalakshmiiyer', 'mahalaxmi', 'mahalaxmiiyer', 'mahathi',
       'mahendrakapoor', 'mahuakamat', 'malkitsingh', 'mamtasharma',
       'manak', 'manasi', 'manharudhas', 'manishkumartipu', 'manjmusik',
       'manmohanwaris', 'mannadey', 'mannatnoor', 'manoharshetty',
       'manojmishra', 'manpreetakhtar', 'mansheelgujral', 'marianne',
       'marianned', 'mastersaleem', 'meenaljain', 'meetbros',
       'meetbrosanjjan', 'meghasriramdalton', 'meghnamishra', 'mello',
       'mellowd', 'merchant', 'merriene', 'mika', 'mikasingh',
       'mikhasingh', 'milinair', 'millindgaba', 'mirayavarma',
       'misspooja', 'mithoon', 'mohammadaziz', 'mohammadsayeed',
       'mohammed', 'mohammedaslam', 'mohammedaziz', 'mohammedirfan',
       'mohammedrafi', 'mohan', 'mohankanan', 'mohd', 'mohdvakil',
       'mohitchauhan', 'mohitchuahaan', 'moinuddinmanchala',
       'monalithakur', 'monicadogra', 'mubarakbegum', 'mujtabaaziznaza',
       'mukesh', 'multiple', 'murtuza', 'murtuzakhan', 'murtuzaqadir',
       'mustafazahid', 'nachiketa', 'nacim', 'naezy', 'nakashaziz',
       'nakkashaziz', 'nandinideb', 'nareshiyer', 'nataliediluccio',
       'navendutripathi', 'navrajhans', 'naziahassan', 'neeraj',
       'neerajshridhar', 'neetimohan', 'nehabhasin', 'nehakakkar',
       'neumanpinto', 'nihirajoshideshpande', 'nikhildsouza',
       'nikhilpaulgeorge', 'nikhitagandhi', 'nikitanigam', 'nimosa',
       'nindykaur', 'nishamascarenhas', 'nitinmukesh', 'nituchoudhry',
       'noeljames', 'nooransisters', 'nupurpant', 'nusratfatehalikhan',
       'osmanmir', 'palakmuchchal', 'palakmuchhal', 'pamelachopra',
       'pamelajain', 'panditbirjumaharaj', 'pankajawasthi', 'pankajkapur',
       'pankajudhas', 'papon', 'pardeepsinghsran', 'pardeepsran',
       'parineetichopra', 'paromadasgupta', 'pawnipandey', 'payaldev',
       'pinky', 'piyushmishra', 'pooja', 'poornima', 'poorvikoutish',
       'poroma', 'pragyapatra', 'prajaktashukre', 'prakritikakar',
       'prakritikakkar', 'pranaay', 'pranabbiswas', 'prashant',
       'prashantvadhyar', 'pratibhasinghbaghel', 'pravinmani',
       'prayagraj', 'preethamazumdar', 'preeti', 'premdehati', 'pritam',
       'pritamchakraborty', 'prithamajumdar', 'prithvigandharva',
       'priyapanchal', 'priyasaraiya', 'qadir', 'qadirkhan',
       'rabbishergill', 'rabihbaroud', 'raftaar', 'raghavmathur',
       'raghavsachar', 'rahatfatehalikhan', 'rahman', 'rahulmishra',
       'rahulsaxena', 'rahulvaidya', 'rajahasan', 'rajahassan',
       'rajakumari', 'rajatdholakia', 'rajpandit', 'rajusingh',
       'rakeshpandit', 'ramsampath', 'ramyabehara', 'rana',
       'ranamazumder', 'ranbirkapoor', 'ranikaur', 'ranveersingh',
       'raqeebaalam', 'rashidkhan', 'rashiraagga', 'rasikachandrashekhar',
       'ravikhote', 'ravindrajain', 'ravindraupadhyay', 'rdb',
       'rehankhan', 'rehkabharadwaj', 'rekha', 'rekhabharadwaj',
       'rekhabhardwaj', 'renesabaadchi', 'resmisateesh', 'rhysd',
       'richasharma', 'ritika', 'ritupathak', 'roachkilla', 'rochakkohli',
       'romy', 'ronkinigupta', 'roopkumarrathod', 'roshnibaptist',
       'sachettandon', 'sachingupta', 'sachinsanghvi', 'sadhanasargam',
       'sadhnasargam', 'sahilakhtar', 'sahiralibagga', 'saimbhat',
       'sainzahoor', 'sajidkhan', 'salimmerchant', 'salimsulaiman',
       'salmankhan', 'sam', 'sameerkhan', 'sameeruddin', 'sanahmoidutty',
       'sanampuri', 'sanchitabhattacharya', 'sanchitabhattachayra',
       'sangeethaldipur', 'sanjaydutt', 'sanjaypathak',
       'sanjeevchimmalgi', 'sanjivani', 'santoshsingh', 'sapnaawasthi',
       'sapnaawasthisingh', 'sapnamukharji', 'sapnamukherjee',
       'saroshsami', 'sarwarkhan', 'satishchakravarthy', 'satyanarayan',
       'satyanarayanmishra', 'saumyaupadhyay', 'sehar', 'selina', 'shaan',
       'shababsabri', 'shabbirkumar', 'shadaab', 'shadaabfaridi',
       'shadab', 'shadabfaridi', 'shafqatamanatali', 'shahidmallaya',
       'shahidmallya', 'shahidmalya', 'shailendrasingh', 'shailhada',
       'shakthisreegopalan', 'shalinisingh', 'shalmalikholgade',
       'shamshadbegum', 'shankar', 'shankarehsaanloy', 'shankarmahadevan',
       'shannondonald', 'shantanumoitra', 'sharadkumar', 'sharibsabri',
       'sharmanjoshi', 'shashaatirupati', 'shashikapoor', 'shashisuman',
       'shashwatsachdev', 'shashwatsingh', 'shaswati', 'shazneenarethna',
       'shefalialvares', 'shefalialvarez', 'shefalialvaris',
       'shehnazakhtar', 'shekhar', 'shekharravjiani', 'shilparao',
       'shilpipaul', 'shipragoyal', 'shirleysetia', 'shivampathak',
       'shivangibhayana', 'shivi', 'shivranjanisingh', 'shoma',
       'shraddhakapoor', 'shraddhapandit', 'shreyaghosal',
       'shreyaghoshal', 'shreyaspuranik', 'shrutihaasan', 'shrutipathak',
       'shweta', 'shwetapandit', 'siddharthbasrur', 'siddharthmahadevan',
       'simarkaur', 'simigarewal', 'singhsta', 'snehapant', 'sohailsen',
       'soham', 'sohamchakrabarthy', 'sonakshisinha', 'sonalibhatawdekar',
       'sonalivajpai', 'sonamohapatra', 'soniasharma', 'sonukakkar',
       'sonunigam', 'sonusood', 'sophiechoudry', 'soumyarai',
       'soumyaraoh', 'souza', 'sreekumar', 'sreenivas', 'sreeramachandra',
       'sreeramachandramynampati', 'sridevi', 'sriijiit', 'subhroganguly',
       'subirsen', 'suchi', 'suchitra', 'sudeshbhonsle', 'sudeshbhosle',
       'sudhamalhotra', 'suhail', 'suhassawant', 'sujatamajumdar',
       'sujathamohan', 'sukhbir', 'sukhbirsingh', 'sukhwindersing',
       'sukhwindersingh', 'sukritikakar', 'sukritikakkar',
       'sulaimanmerchant', 'sulakshanapandit', 'sultananooran',
       'sumankalyanpur', 'sumansridhar', 'sumedhakarmahe', 'sumeetanand',
       'sumitkumar', 'sunandasharma', 'sunidhichauhan', 'sunidhuchauhan',
       'sunitarao', 'sunithasarathy', 'sunny', 'supriyapathak',
       'surajjagan', 'sureshwadkar', 'suryaragunaathan', 'sushmashrestha',
       'suzanne', 'suzanned', 'suzzanedemello', 'swanandkirkire',
       'swarnalatha', 'swaroopkhan', 'swatisharma', 'swatisharrma',
       'swetapandit', 'swethabhargavee', 'talatmahmood', 'tanishkaa',
       'tanishkasanghvi', 'tanishkbaagchi', 'tanishkbagchi', 'tanvi',
       'taraannummallik', 'tarannummalik', 'tarannummallik', 'taz',
       'teeshanigam', 'tochiraina', 'tonykakkar', 'toshisabri',
       'tulsikumar', 'tushar', 'tusharjoshi', 'udbhav', 'uditnarayan',
       'ushakhanna', 'ushamangeshkar', 'ustadbadeghulamali',
       'ustadrashidkhan', 'ustadsultankhan', 'uvie', 'uzairjaswal',
       'vaishali', 'vaishalibhaisne', 'vaishalisamant', 'vaishnavimishra',
       'various', 'vasihalimade', 'vasundharadas', 'vayu', 'vibhasaraf',
       'vibhasharma', 'vijayetapandit', 'vijayprakash', 'vijaytapandit',
       'vijayyamla', 'vijayyesudas', 'vikasbhalla', 'vineetsingh',
       'vinit', 'vinodrathod', 'vipinaneja', 'vipinsachdeva', 'vishal',
       'vishalbhardwaj', 'vishaldadlani', 'vishalmishra',
       'vivekhariharan', 'wajid', 'wajidkhan', 'yashikasikka',
       'yashitasharma', 'yashnarvekar', 'yasserdesai', 'yesudas',
       'yoticatangri', 'yoyohoneysingh', 'yrf', 'zackknight',
       'zebunnisabangash', 'zubeengarg'], dtype=object)

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
similarity = cosine_similarity(vectors)

In [46]:
avg = np.mean(song['Rating'])

In [47]:
def recommend(obj):
    song_index = song[song['Song'] == 'Coca Cola'].index[0]
    distance = similarity[song_index]
    song_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x:x[1])[1:]
    index = []
    for i in song_list:
        index.append(i[0])
        count = 0
    for i in index:
        x = song['Rating'][i]
        if (x > avg):
            if(count < 5):
                count += 1
                print(song['Song'][i])          
            else:
                break

In [48]:
recommend('Coca Cola')

La La La (Baazaar)
Sawan Aaya Hai (Unplugged Version)
Mohabbat Nasha Hai
Helicopter
Gali Gali

In [49]:
import pickle

In [50]:
pickle.dump(song.to_dict(), open('song.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))